= form_for @operating_system do |f|
  - if @operating_system.errors.any?
    #error_explanation
      %h2= "#{pluralize(@operating_system.errors.count, "error")} prohibited this operating_system from being saved:"
      %ul
        - @operating_system.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :os_type_id
    = f.number_field :os_type_id
  .field
    = f.label :cpuarc
    = f.text_field :cpuarc
  .field
    = f.label :cpubit
    = f.number_field :cpubit
  .field
    = f.label :desc
    = f.text_field :desc
  .field
    = f.label :image_id
    = f.text_field :image_id
  .actions
    = f.submit 'Save'
