%h1 Listing operating_systems

%table
  %tr
    %th Name
    %th Os type
    %th Cpuarc
    %th Cpubit
    %th Desc
    %th
    %th
    %th

  - @operating_systems.each do |operating_system|
    %tr
      %td= operating_system.name
      %td= operating_system.os_type_id
      %td= operating_system.cpuarc
      %td= operating_system.cpubit
      %td= operating_system.desc
      %td= link_to 'Show', operating_system
      %td= link_to 'Edit', edit_operating_system_path(operating_system)
      %td= link_to 'Destroy', operating_system, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Operating system', new_operating_system_path
