%h1 Listing os_types

%table
  %tr
    %th Name
    %th Family
    %th Desc
    %th
    %th
    %th

  - @os_types.each do |os_type|
    %tr
      %td= os_type.name
      %td= os_type.family
      %td= os_type.desc
      %td= link_to 'Show', os_type
      %td= link_to 'Edit', edit_os_type_path(os_type)
      %td= link_to 'Destroy', os_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Os type', new_os_type_path
