#create-instance-modal.modal.hide.fade
	.modal-header
		%a.close{"data-dismiss" => "modal"} &times
		%h4 创建新主机
	.modal-body
		%section#create-instance-steps
			= form_tag({controller: "hosts", action: "create"}, {id: "create-instance-form", class: "form-horizontal"}) do
				%section#inst-image.step{data: {:"step-title"=> "选择映像"}}
					= render :partial => "image_select"
				%section#inst-flavor.step{data: {:"step-title"=> "选择类型"}}
					= render :partial => "flavor_select" 
				%section#inst-network.step{data: {:"step-title"=> "设置网络"}}
					= render :partial =>"network_setting"
				%section#inst-basic.step{data: {:"step-title"=> "基本设置"}}
					= render :partial => "instance_setting" 

		%aside#options
			= render :partial => "instance_options" 

