#create-instance-modal.modal.hide.fade
	.modal-header
		%a.close{"data-dismiss" => "modal"} &times
		%h4 创建新主机
	.modal-body
		%section#steps
			#create-instance-steps
				= form_tag({controller: "hosts", action: "create"}, {id: "create-instance-wizard", class: "form-horizontal"}) do
					%section#image.step{data: {:"step-title"=> "选择映像"}}
						%section#ostypes
							%strong 操作系统:
							%a.ostype{data: {owner: 'private'}, href: '#'} 自有镜像
						%section#images
					%section#flavor.step{data: {:"step-title"=> "选择类型"}}
						= render :partial => "flavor_select" 
					%section#network.step{data: {:"step-title"=> "设置网络"}}
						= render :partial =>"network_setting"
					%section#sss.step{data: {:"step-title"=> "基本设置"}}
						= render :partial => "instance_setting" 


		%aside#options
			= render :partial => "instance_options" 

%script#tmpl-ostypes{type: 'text/x-jquery-tmpl'}
	%a.ostype{data: {typeid: '${id}', owner: 'public'}, href: '#'}
		${name}

%script#tmpl-public-images{type: 'text/x-jquery-tmpl'}
	.image{data: {id: '${image_id}', ostypeid:'${os_type_id}'}}
		${name}

%script#tmpl-private-images{type: 'text/x-jquery-tmpl'}
	{{tmpl(image) "#tmpl-private-image"}}

%script#tmpl-private-image{type: 'text/x-jquery-tmpl'}
	.image{data: {id: '${id}'}}
		${name}

