-# - form_tag ... do
%table.table.table-bordered.table-condensed
	%caption 
		%p
	%thead
		%tr
			%th
			%th 主机名称
			%th 固定IP
			%th 弹性IP
			%th 状态
			%th 原始镜像
			%th 创建日期
	%tbody
		- @servers.each do |s|
			%tr
				%td= check_box_tag "serverids", s.id, false, id: "server_id_#{s.id}", hostname: "#{s.name}"
				%td= link_to s.name, controller: "hosts", action: "show", id: s.name
				%td= getServerIPs(s, "fixed") 
				%td= getServerIPs(s, "floating")
				%td= s.status 
				%td= s.image.name
				%td= s.created_at
