.offset1
	%ul.nav.nav-tabs
		%li.active
			= link_to "虚拟主机", hosts_path
		%li
			= link_to "虚拟磁盘", "#"
		%li
			= link_to "云数据库", "#"
		%li
			= link_to "负载均衡", "#"
		%li
			= link_to "CDN加速", "#"
		%li
			= link_to "DNS解析", "#"
		%li{:style => "float:right"}
			= link_to "「升级公告2013-09-25 」", "#"	