-# - form_tag ... do
%table.table.table-bordered.table-condensed
	%caption 
		%p
	%thead
		%tr
			%th
			%th 弹性IP
			%th 固定IP
			%th 绑定主机	
			%th 状态		
	%tbody
		- @floating_ips.each do |ip|
			%tr
				%td= check_box_tag "ip", ip.id, false, :"data-ip" => "#{ip.id}"
				%td= ip.ip
				%td= ip.fixed_ip if ip.fixed_ip.present?
				%td
					= label_tag "server", "#{ip.instance.name if ip.instance.present?}", :"data-server" => "#{ip.instance_id if ip.instance.present?}"
				%td= "#{ip.instance.present? ? "使用中": "未使用"}"

