
= provide(:title, "注册")

.container
	.span5
		%h2 注册
		= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => "form-horizontal") do |f|
			= devise_error_messages!
			.control-group
				= f.label :email, class: "control-label"
				.controls
					= f.email_field :email, placeholder: "Email"
			.control-group
				= f.label :password, class: "control-label"
				.controls
					= f.password_field :password, placeholder: "Password"
			.control-group
				= f.label :password_confirmation, class: "control-label"
				.controls
					= f.password_field :password_confirmation,  placeholder: "Confirmation"
			.control-group
				= f.submit "Sign up", class: "btn btn-primary"

		= render "devise/shared/links"

	.span6
		%img.img-rounded{:alt => "云计算优点", :src => "http://lorempixel.com/500/300"}		


.container
	#product-carousel.carousel.slide
		%ol.carousel-indicators
			%li{"data-slide-to" => "0", "data-target" => "#product-carousel"}
			%li{"data-slide-to" => "1", "data-target" => "#product-carousel"}
			%li.active{"data-slide-to" => "2", "data-target" => "#product-carousel"}
		.carousel-inner
			.item
				%img{:alt => "Demo Image", :src => "http://lorempixel.com/800/200"}/
				.carousel-caption				
					%p The image description.
			.item
				%img{:alt => "Demo Image", :src => "http://lorempixel.com/800/200"}/
				.carousel-caption
					%p The image description 2.
			.item.active
				%img{:alt => "Demo Image", :src => "http://lorempixel.com/800/200"}/
				.carousel-caption
					%p The image description 3.
		%a.carousel-control.left{"data-slide" => "prev", :href => "#product-carousel"} ‹
		%a.carousel-control.right{"data-slide" => "next", :href => "#product-carousel"} ›
			
			