-# - form_tag ... do
%table.table.table-bordered.table-condensed#tab_servers
	%caption 镜像列表
	%thead
		%tr
			%th
			%th 名称
			%th 描述
			%th 基础镜像		
			%th 状态
			%th 创建时间
			%th 容量
	%tbody
		- @images.each do |image|
			%tr
				%td= check_box_tag "imageids", image.id, false, imagename: "#{image.name}"
				%td= image.name
				%td
				%td
				%td= image.status
				%td= image.created_at
				%td
				%td 
				%td 
