%ul.nav.nav-list
	%li.nav-header 
		%h4 云主机管理
	%li{:class => "#{ controller.class == HostsController  ? 'active' : 'deactive'}" }
		= link_to "主机管理", hosts_path
	%li{:class => "#{ controller.class == ImagesController  ? 'active' : 'deactive'}" }
		= link_to "镜像管理", images_path
	%li{:class => "#{ controller.class == SecuritiesController  ? 'active' : 'deactive'}" }
		= link_to "防火墙管理", securities_path
	%li{:class => "#{ controller.class == FloatingIpsController  ? 'active' : 'deactive'}" }
		= link_to "弹性IP", floating_ips_path
	%li{:class => "#{ controller.class == 'BandwidthController'  ? 'active' : 'deactive'}" }
		= link_to "带宽包", "#"
	%li.nav-header
		%h4 云主机监控
	%li
		= link_to "主机监控", "#"
	%li 
		= link_to "站点监控", "#"
	%li
		= link_to "告警设置", "#"
	%li
		= link_to "数据视图", "#"

