!!!
%html
	%head
		%title= full_title yield(:title)
		= render :partial => "layouts/meta" 
		%title BucketAdmin
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= render :partial => "layouts/shim2" 
	
	%body
		%section#container
			/ header start
			= render :partial => "layouts/header" 
			/ header end
			
			/ sidebar start
			= render :partial => "layouts/sidebar" 
			/ sidebar end

			/ main content start
			%section#main-content
				%section.wrapper
					.row
						.col-sm-12
							= yield
			/ main content end

			/ right sidebar start
			.right-sidebar
				.search-row
				.right-stat-bar

